* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

.container{
    width: 100%;
    height: 100vh;
    background: #009688;
}

.row{
    width: 90%;
    height: 100vh;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.col{
    flex-basis: 50%;
}
.wrapper{
     width: 600px;
     height: 600px;
     position: relative;
}

.feature1{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 0;
    background: #ec6f98;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    animation: feature1 5s linear infinite;
}

.feature2{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 0;
    background: rgba(255,135,235,0.8);
    position: absolute;
    top: 90px;
    left: 80px ;
    animation: feature2 5s linear infinite;
}
.feature3{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 0;
    background: rgba(255,198,128,0.8);
    position: absolute;
    top: 60px;
    right: 80px ;
    animation: feature3 5s linear infinite;
}

.feature4{
    width: 140px;
    height: 140px;
    border-radius: 50%;
    border: 0;
    background: rgba(216,255,1,0.5);
    position: absolute;
    top: 340px;
    left: 80px ;
    animation: feature4 5s linear infinite;
}

.feature5{
    width: 140px;
    height: 140px;
    border-radius: 50%;
    border: 0;
    background: rgba(143,224,225,0.5);
    position: absolute;
    bottom: 80px;
    left: 225px ;
    animation: feature5 5s linear infinite;
}

.feature6{
    width: 130px;
    height: 130px;
    border-radius: 50%;
    border: 0;
    background: rgba(255,76,1,0.5);
    position: absolute;
    bottom: 160px;
    right: 100px ;
    animation: feature6 5s linear infinite;
}

.wrapper h5{
    color: #fff;
    font-weight: 100;
}

.feature1 h5{
    width: fit-content;
    position: absolute;
    bottom: 70px;
    left: 50%;
    transform: translateX(-50%);
}

.feature2 h5,
.feature3 h5{
    width: fit-content;
    position: absolute;
    top: 70px;
    left: 50%;
    transform: translateX(-50%);
} 

.feature2 h5{
    left: 50%;
}
.feature3 h5{
    right: 50px;
}

.feature4 h5,
.feature5 h5,
.feature6 h5{
    width: fit-content;
    position: absolute;
    top: 60px;
    left: 30px;
    transform: translateX(-50%,-50%);
} 

.content{
    width: 400px;
    color: #fff;
    margin: auto;
}

.content h1{
    font-size: 36px;
}

.content hr{
    width: 200px;
    margin: 30px 0 20px;
}

.content p{
    font-size: 14px;
    line-height: 20px;
}

button{
    padding: 12px 20px;
    border: 0;
    outline: none;
    background: #fff;
    color: #009688;
    border-radius: 3px;
    margin-top: 20px;
    cursor: pointer;
}


@keyframes feature1 {
    0%{
       width: 0px;
       height: 0px;
    }
    7%{
        width: 250px;
        height: 250px;
    }
}

@keyframes feature2 {
    0%{
      transform: translateY(-100%);
    }
    30%{
        transform: translateY(0%);
    }
}

@keyframes feature3 {
    0%{
      transform: translate( 80%,-100%);
    }
    30%{
        transform: translate(0%,0%);
    }
}


@keyframes feature4 {
    0%{
      transform: translate( -80%,-100%);
    }
    30%{
        transform: translate(0%,0%);
    }
}


@keyframes feature5 {
    0%{
      transform: translateY(100%);
    }
    30%{
        transform: translateY(0%);
    }
}

@keyframes feature6 {
    0%{
      transform: translate(80%,-100%);
    }
    30%{
        transform: translate(0%,0%);
    }
} 

@media screen and (max-width: 660px) {

    .wrapper{
         width: 300px;
         height: 300px;
         position: relative;
    }
    
    .feature1{
        width: 90px;
        height: 90px;
    
        top: 80%;
        left: 80%;

    }
    
    .feature2{
        width: 90px;
        height: 90px;
        top: 140px;
        left: 120px ;
    }
    .feature3{
        width: 80px;
        height: 80px;
        top: 250px;
        right: 80px ;
    }
    
    .feature4{
        width: 80px;
        height: 80px;
        top: 280px;
        left: 230px ;
    }
    
    .feature5{
        width: 80px;
        height: 80px;
        bottom: 30px;
        left: 285px ;
    }
    
    .feature6{
        width: 80px;
        height: 80px;
        bottom: 100px;
        left: 210px ;
    }
    
    .wrapper h5{
        font-size: 10px;
        color: #fff;
        font-weight: 100;
    }
    
    .feature1 h5{
        bottom: 30px;
        left: 50%;
    }
    
    .feature2 h5,
    .feature3 h5{
        top: 40px;
        left: 50%;
    } 
    
    .feature2 h5{
        left: 50%;
    }
    .feature3 h5{
        right: 50px;
    }
    
    .feature4 h5,
    .feature5 h5,
    .feature6 h5{
        top: 40px;
        left: 20px;
    } 
    
    .content{
        width: 400px;
        color: #fff;
        margin: auto;
    }
    
    .content h1{
        font-size: 36px;
    }
    
    .content hr{
        width: 200px;
        margin: 30px 0 20px;
    }
    
    .content p{
        font-size: 14px;
        line-height: 20px;
    }
    
    button{
        padding: 12px 20px;
        border: 0;
        outline: none;
        background: #fff;
        color: #009688;
        border-radius: 3px;
        margin-top: 20px;
        cursor: pointer;
    }
    
    
    @keyframes feature1 {
        0%{
           width: 0px;
           height: 0px;
        }
        7%{
            width: 100px;
            height: 100px;
        }
    }
    
    @keyframes feature2 {
        0%{
          transform: translateY(-100%);
        }
        30%{
            transform: translateY(0%);
        }
    }
    
    @keyframes feature3 {
        0%{
          transform: translate( -80%,100%);
        }
        30%{
            transform: translate(0%,0%);
        }
    }
    
    
    @keyframes feature4 {
        0%{
          transform: translate( 80%,100%);
        }
        30%{
            transform: translate(0%,0%);
        }
    }
    
    
    @keyframes feature5 {
        0%{
          transform: translate(90%,10%);
        }
        30%{
            transform: translate(0%,0%);
        }
    }
    
    @keyframes feature6 {
        0%{
          transform: translate(90%,-100%);
        }
        30%{
            transform: translate(0%,0%);
        }
    } 
    
}